@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;1,300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* this for logo deben*/
.containerOverFlue{
    height: 100vh !important;
    overflow: hidden;
}

.loginDesign{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) -77.3%, rgba(233, 232, 232, 0.124555) 40.98%, rgba(225, 224, 224, 0.0987332) 59.26%, rgba(197, 194, 194, 0) 100%), #1E6EF5;    width: 100%;
    width: 23.5rem !important;
    height: 100vh !important;
    position: relative;
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 1400px){
    .loginDesign{
        width: 25% !important;
    }
}
.imgContainer{
    margin: auto;
    position: absolute;
    top:7.5rem;
    text-align: center;
    color: #E2E2E2;
    transition: all 0.5s;
}
.imgContainer p{
    margin-top: 0.625rem;
}
@media screen and (max-width: 768px) {
    .imgContainer {
        position: absolute;
        top: 1.875rem;
        transition: all 0.5s;
    }
    .imgContainer p{
        position: absolute;
        top: 6.25rem;
    }
  }
  @media screen and (max-width: 576px) {
    .imgContainer {
        position: absolute;
        top: 3.75rem;
        transition: all 0.5s;
    }
    .imgContainer p{
        position: absolute;
        top: 5.625rem;
        transition: all 0.5s;
    }
  }

.loginDesign img{
    width: 68%;
    height: 4rem;
}
.containerUser{
    position: absolute;
    top: 15.625rem;
    background: rgba(255, 255, 255, 0.17);
    border-radius: 0.625rem;
    width: 20.625rem;
    height: 3.25rem;
    box-sizing: border-box;
    display: flex;
}
.containerUser .icon-user-o{
    position: absolute;
    left: 1.125rem;
    top: 0.9375rem;
    color: #FFF;
    font-size: 1.25rem;
    width: 23.5rem;
}
.containerUser .loginParagraphe{
    position: absolute;
    left: 3.125rem ;
    top: 0.625rem;
    width: 10% !important;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.44805625rem;
    line-height: 2rem;
    /* identical to box height */

    letter-spacing: -0.02em;

    /* white */
    color: #FFFFFF;
}
.icon-eye-slash,
.icon-eye{
    position:absolute;
    right: 1.5625rem;
    top: 0.625rem;
    font-size: 1.0625rem;
    cursor: pointer;
    padding: 0.3125rem;
}
.containerUser .icon-circle{
    position: absolute;
    right: 0625rem;
    top: 0.3125rem;
    color: aliceblue;
}
/*  the end here about logoDeben CSS */
/* the form CSS */
.containerWelcome{
    width: 73.5% !important;
    margin: auto;
}
.messageGoodMoring{
    width: 9.375rem;
    height: 1.5625rem;
    margin: 1.25rem;
}

.messageGoodMoring h5{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.5625rem;

    /* dark blue */

    color: #3A4956;

}
.contaienrForm{
    overflow: auto;
    margin: auto;
    width: 13.75rem;
    height: 75vh !important;
    background: #fff;
    /* card shadow */
    box-shadow: -0.5px 0.5px 2px rgba(0, 0, 0, 0.25);
    border-radius: 0.625rem;
    margin: auto;
    position: relative;
    top: 1.875rem;
}
.getGelpDiv{
    width: 6.25rem;
    position: absolute;
    right: 0.625rem;
    top: 0.625rem;
}
.getGelpDiv a{
    color: #58BEF3;
    width: 7.5rem;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 500 !important;
    font-size: 1.5rem;
    line-height: 2.625rem;
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    position: absolute;
    right:0.9375rem;
    transition: all 0.5s;

}
.getGelpDiv span{    
    color: #58BEF3;
    position: absolute;
    right:1px;
    font-size: 1.375rem;
}
.welcomeBackH1{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 768px) {
    .welcomeBackH1 h1 {
        position: absolute;
        top: 5.25rem !important;
        transition: all 0.5s;
    }
  }
  .welcomeBackH1 h1{
    position: absolute;
    top: 3.75rem;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 4.625rem;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    transition: all 0.5s;

    /* Blue 1 */
    
    color: #208AE7;

}
.containerForm{
    width: 85%!important;
    position: absolute;
    top: 12.5rem;
    left: 4.375rem;
    transition: all 0.4s;
}
@media screen and (max-width: 768px) {
    .containerForm{
        width: 95%!important;
        position: absolute;
        top: 12.5rem;
        left: 4%;
        overflow: hidden;
        transition: all 0.4s;
    }
}
@media screen and (max-width: 576px) {
    .containerForm{
        width: 95%!important;
        position: absolute;
        top: 12.5rem;
        left: 3%;
        transition: all 0.4s;

    }
}
.form-group{
    margin: 1.875rem;
}
/* input name & input Password */
.form-group .inputUserName:focus,
.form-group .inputPasswod:focus{
    box-shadow: none;
    box-shadow: -0.5px 0.5px 2px rgba(0, 0, 0, 0.25);
    border-radius: 0.625rem;

}
.form-group .inputUserName,
.form-group .inputPasswod{
    box-sizing: border-box;
    background: #FFFFFF;
    /* card shadow */
    box-shadow: -0.5px 0.5px 2px rgba(0, 0, 0, 0.25);
    border-radius: 0.625rem;
    padding: 0.625rem !important;    
}
@media screen and (max-width: 768px) {
    .form-group .inputUserName,
    .form-group .inputPasswod {
        width: 120% !important;
        display: flex;
        
        transition: all 0.8s;
    }
}

@media screen and (max-width: 576px) {
    .form-group .inputUserName,
    .form-group .inputPasswod {
        width: 100% !important;
        display: flex;
        transition: all 0.5s;
    }
}
.form-group label{
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.1875rem;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #3A4956 ;
}
@media screen and (max-width: 768px) {
    .form-group label{
        width: 90%;
        transition: all 0.5s;
    }
}

.containerCheckAndForget{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ForgetPassword a{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 1.1875rem;
    display: flex;
    align-items: center;
    text-align: right;
    text-decoration-line: underline;
    text-transform: capitalize;

    /* mid gray */

    color: #979797;
}
.rememberAccept{
    display: flex;
    justify-content: end;
    margin-top: 0.625rem !important ;
    position:relative;
}
.rememberAccept a {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 1.1875rem;
    display: flex;
    align-items: center;
    text-align: right;
    text-decoration-line: underline;
    text-transform: capitalize;

    /* highlighted blue */

    color: #58BEF3;
}
.btnLogindiv{
    margin-top:2rem  !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnLogindiv button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.625rem 8.125rem;
    gap: 0.75rem;

    background: #58BEF3;
    box-shadow: -0.5px 0.5px 2px rgba(0, 0, 0, 0.25);
    border-radius: 0.4375rem;
    border: none;
    transition: all 0.5s;
}
@media screen and (max-width: 768px) {
    .btnLogindiv button {
        padding: 0.625rem 5.625rem;
        transition: all 0.5s;
    }
  }