@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* this for logo deben*/
.containerOverFlue{
    height: 100vh !important;
    /* width: 1921px; */
    overflow: hidden;
}
/* @media screen and (max-width: 1200px) {
    .containerOverFlue {
        width: 100% !important;

    }
} */

.loginDesign{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) -77.3%, rgba(233, 232, 232, 0.124555) 40.98%, rgba(225, 224, 224, 0.0987332) 59.26%, rgba(197, 194, 194, 0) 100%), #1E6EF5;    width: 100%;
    width: 376px !important;
    height: 100vh !important;
    position: relative;
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 1400px){
    .loginDesign{
        width: 25% !important;
    }
}
.imgContainer{
    margin: auto;
    position: absolute;
    top:120px;
    text-align: center;
    color: #E2E2E2;
    transition: all 0.5s;
}
.imgContainer p{
    margin-top: 10px;
}
@media screen and (max-width: 768px) {
    .imgContainer {
        position: absolute;
        top: 30px;
        transition: all 0.5s;
    }
    .imgContainer p{
        position: absolute;
        top: 100px;
    }
  }
  @media screen and (max-width: 576px) {
    .imgContainer {
        position: absolute;
        top: 60px;
        transition: all 0.5s;
    }
    .imgContainer p{
        position: absolute;
        top: 90px;
        transition: all 0.5s;
    }
  }

.loginDesign img{
    width: 68%;
    height: 64px;
}
.containerUser{
    position: absolute;
    top: 250px;
    background: rgba(255, 255, 255, 0.17);
    border-radius: 10px;
    width: 330px;
    height: 52px;
    box-sizing: border-box;
    display: flex;
}
.containerUser .icon-user-o{
    position: absolute;
    left: 18px;
    top: 15px;
    color: #FFF;
    font-size: 20px;
    width: 376px;
}
.containerUser .loginParagraphe{
    position: absolute;
    left: 50px ;
    top: 10px;
    width: 10% !important;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 23.1689px;
    line-height: 32px;
    /* identical to box height */

    letter-spacing: -0.02em;

    /* white */
    color: #FFFFFF;
}
.icon-eye-slash,
.icon-eye{
    position:absolute;
    right: 25px;
    top: 10px;
    font-size: 17px;
    cursor: pointer;
    padding: 5px;
}
.containerUser .icon-circle{
    position: absolute;
    right: 10px;
    top: 5px;
    color: aliceblue;
}
/*  the end here about logoDeben CSS */
/* the form CSS */
.containerWelcome{
    width: 73.5% !important;
    margin: auto;
}
.messageGoodMoring{
    width: 150px;
    height: 25px;
    margin: 20px;
}

.messageGoodMoring h5{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;

    /* dark blue */

    color: #3A4956;

}
.contaienrForm{
    overflow: auto;
    width: 220px;
    height: 75vh !important;
    background: #fff;
    /* card shadow */
    box-shadow: -0.5px 0.5px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: auto;
    position: relative;
    top: 30px;
}
.getGelpDiv{
    width: 100px;
    position: absolute;
    right: 10px;
    top: 10px;
}
.getGelpDiv a{
    color: #58BEF3;
    width: 120px;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 500 !important;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    position: absolute;
    right:15px ;
    transition: all 0.5s;

}
.getGelpDiv span{    
    color: #58BEF3;
    position: absolute;
    right:1px;
    font-size:22px;
    /* transition: all 0.3s; */
}
@media screen and (max-width: 768px) {
    .getGelpDiv a {
        font-size: 19px;
        position: absolute;
        right:-10px ;
        transition: all 0.5s;
    }
    .getGelpDiv span{
        position: absolute;
        right:16px;
        top: 5px;
        transition: all 0.3s;

    }
  }
.welcomeBackH1{
    display: flex;
    justify-content: center;
    background-color: #979797;
}
@media screen and (max-width: 768px) {
    .welcomeBackH1 h1 {
        position: absolute;
        top: 68px;
        left: 70px;
        font-size: 38px !important;
        transition: all 0.5s;
    }
  }
  .welcomeBackH1 h1{
    position: absolute;
    top: 60px;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 65px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    transition: all 0.5s;

    /* Blue 1 */
    
    color: #208AE7;

}
.containerForm{
    width: 73.5% !important;
    position: absolute;
    top: 200px;
    left: 70px;
}
.form-group{
    margin: 30px;
}
/* input name & input Password */
.form-group .inputUserName:focus,
.form-group .inputPasswod:focus{
    box-shadow: none;
    box-shadow: -0.5px 0.5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

}
.form-group .inputUserName,
.form-group .inputPasswod{
    box-sizing: border-box;
    background: #FFFFFF;
    /* card shadow */
    box-shadow: -0.5px 0.5px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 10px;    
}
@media screen and (max-width: 768px) {
    .form-group .inputUserName,
    .form-group .inputPasswod {
        width: 120% !important;
        display: flex;

        transition: all 0.8s;
    }
}

@media screen and (max-width: 576px) {
    .form-group .inputUserName,
    .form-group .inputPasswod {
        width: 100% !important;
        display: flex;
        transition: all 0.5s;
    }
}
.form-group label{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #3A4956 ;
}
@media screen and (max-width: 768px) {
    .form-group label{
        width: 90%;
        transition: all 0.5s;

    }
}

.containerCheckAndForget{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ForgetPassword a{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: right;
    text-decoration-line: underline;
    text-transform: capitalize;

    /* mid gray */

    color: #979797;
}
.rememberAccept{
    display: flex;
    justify-content: end;
    margin-top:10px !important ;
    position:relative;
}
.rememberAccept a {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: right;
    text-decoration-line: underline;
    text-transform: capitalize;

    /* highlighted blue */

    color: #58BEF3;
}
.btnLogindiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnLogindiv button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 130px;
    gap: 12px;

    background: #58BEF3;
    box-shadow: -0.44px 0.44px 1.75px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    border: none;
    transition: all 0.5s;
}
@media screen and (max-width: 768px) {
    .btnLogindiv button {
        padding: 10px 90px;
        transition: all 0.5s;


    }
  }